:root {
    --branco: #FFF;
    --amarelo02: #F2E6CE;
    --amarelo03: #F2D272;
    --amarelo04: #403106;
}

.home {
    height: 100vh;
    padding-top: 3.125rem;

    background: radial-gradient(171.4% 92.33% at 20.26% 9.94%, #F2D272 4.27%, rgba(64, 49, 6, 0.86) 67.12%, #403106 100%);
}

.home .container {
    height: 100%;

    background-image: url(/assets/img/atendente.png);
    background-color: transparent;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 55%;
    background-attachment: scroll;
}

.home nav {
    max-width: 1140px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home nav .button-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home .box-texto-principal {
    max-width: 1140px;
    margin: auto;

    font-style: normal;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    
    color: var(--branco);
}

.home .box-texto-principal .box-texto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 51%;
}

.home .box-texto-principal h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.35;
}

.home .box-texto-principal p {
    font-size: 1.125rem;
    line-height: 1.15;
}

.home .box-texto-principal button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    width: 362px;
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border-color: #F2D272;
    background: #F2D272;
    color: #403106;
}

.home .box-texto-principal img {
    max-width: 53%;
    height: auto;

    position: absolute;
    left: 43%;
    bottom: 0;
}

.main .container-objetivo {
    height: 500px;
    background-color: #F2E6CE;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.main .container-objetivo img {
    height: 100%;
    /* position: relative;
    left: inherit; */
}

.main .container-objetivo .box-texto-objetivo {
    width: 500px;
    margin: 5.625rem 0rem 0 3rem;
}

.main .container-objetivo .box-texto-objetivo h4 {
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
}

.main .container-objetivo .box-texto-objetivo h2 {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.main .container-objetivo .box-texto-objetivo p {
    font-size: 1.125rem;
    line-height: 1.4;
}