:root {
    --branco: #FFF;
    --amarelo02: #F2E6CE;
    --amarelo03: #F2D272;
    --amarelo04: #403106;
}

.home {
    height: 100vh;
    padding-top: 3.125rem;

    background: radial-gradient(171.4% 92.33% at 20.26% 9.94%, #F2D272 4.27%, rgba(64, 49, 6, 0.86) 67.12%, #403106 100%);
}

.home .container {
    height: 100%;

    background-image: url(/assets/img/atendente.png);
    background-color: transparent;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 55%;
    background-attachment: scroll;
}

.home nav {
    max-width: 1140px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home nav .button-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home .box-texto-principal {
    max-width: 1140px;
    margin: auto;

    font-style: normal;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    
    color: var(--branco);
}

.home .box-texto-principal .box-texto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 51%;
}

.home .box-texto-principal h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.35;
}

.home .box-texto-principal p {
    font-size: 1.125rem;
    line-height: 1.15;
}

.home .box-texto-principal button {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    width: 362px;
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border-color: #F2D272;
    background: #F2D272;
    color: #403106;
}

.home .box-texto-principal img {
    max-width: 53%;
    height: auto;

    position: absolute;
    left: 43%;
    bottom: 0;
}

.main h2 {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 1.5;
}

.main h3 {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}

.main h4 {
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
}

.main p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
}

.main .container-objetivo {
    height: 500px;
    background-color: #F2E6CE;
    font-family: 'Inter', sans-serif;

    display: flex;
    flex-direction: row;
}

.main .container-objetivo img {
    height: 100%;
}

.main .container-objetivo .box-objetivo-texto {
    width: 500px;
    margin: 5.625rem 0rem 0 3rem;
}

.main .container-objetivo .box-objetivo-texto h2 {
    margin-bottom: 1.5rem;
}

.main .container-produto {
    font-family: 'Inter', sans-serif;
}

.main .container-produto .box-produto-header {
    background-color: #FFF;
    height: 166px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container-produto .box-produto-header div {
    width: 1140px;
    margin: auto;
    text-align: center;
}

.main .container-produto .box-produto-header div h2 {
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.main .container-produto .box-produto-header div p {
    font-size: 16px;
    font-weight: 400;
}

.main .container-produto .box-produto-conteudos {
    display: flex;
    flex-direction: column;

    width: 1140px;
    margin: auto;
    margin-top: 2rem;
    
    position: relative;
}

.figura-quadrado {
    width: 20px;
    height: 20px;
    background-color: black;
    border: 10px solid black;
    rotate: 45deg;

    position: absolute;
    top: -2.5rem;
    left: 50%;
    translate: -0.625rem;
}

.linha-vertical {
    width: 1px;
    height: 1050px;
    background-color: black;

    position: absolute;
    top: -2rem;
    left: 50%;
}

.main .container-produto .box-produto-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    align-items: center;
}

.main .container-produto .box-produto-conteudo img {
    width: 100%;
}

.main .container-produto .box-informacao h3, .box-suporte h3, .box-produtividade h3 {
    &::before {
        content: "⚫";
        font-size: .625rem;
        position: absolute;
        left: 50%;
        translate: -.375rem;
    }
}

.main .container-produto .box-produtividade {
    text-align: right;
}

.main .container-produto .box-produto_texto-principal {
    height: 270px;
    background: rgba(64, 49, 6, 0.86);
    font-family: Inter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .container-produto .box-produto_texto-principal div {
    width: 740px;
    margin: auto;
    color: #FFF;
}