:root {
    --branco: #FFF;
    --amarelo02: #F2E6CE;
    --amarelo03: #F2D272;
    --amarelo04: #403106;
}

.home {
    height: 100vh;
    padding-top: 3.125rem;

    background: radial-gradient(171.4% 92.33% at 20.26% 9.94%, #F2D272 4.27%, rgba(64, 49, 6, 0.86) 67.12%, #403106 100%);
}

.home .container {
    height: 100%;

    background-image: url(../img/atendente.png);
    background-color: transparent;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 55%;
    background-attachment: scroll;
}

.home .container nav {
    max-width: 1140px;
    margin: auto;

    display: flex;
    flex-direction: row;;
    justify-content: space-between;
    align-items: center;
}

.home .container nav img {
    max-width: 120px;
    height: auto;
}

.home .container nav .menu {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    
    list-style: none;
}

.home .container nav .menu a {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
}

.home .box-texto-principal {
    max-width: 1140px;
    margin: auto;

    font-style: normal;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    
    color: var(--branco);
}

.home .box-texto-principal .box-texto {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
    width: 51%;
}

.home .box-texto-principal h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.35;
}

.home .box-texto-principal p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.home .box-texto-principal button {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    width: 362px;
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    border-color: #F2D272;
    background: #F2D272;
    color: #403106;
}

.home .box-texto-principal img {
    max-width: 53%;
    height: auto;

    position: absolute;
    left: 43%;
    bottom: 0;
}

.main h2 {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 1.5;
}

.main h3 {
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}

.main h4 {
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
}

.main p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
}

main section {
    display: flex;
    flex-direction: column;
}

.main .box-section-header {
    background-color: #FFF;
    max-height: 166px;
    padding: 1.875rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .container-objetivo {
    font-family: 'Inter', sans-serif;
    background-color: #F2E6CE;

    display: flex;
    justify-content: center;align-self: auto;
}

.main .container-objetivo .box-objetivo {
    width: 100%;
    max-width: 1140px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main .box-objetivo-img {
    position: relative;
}

.main .box-objetivo-img {
    width: 50vw;
    height: 100%;
    
    position: absolute;
    left: 5rem;
}

.main .box-objetivo-texto {
    display: flex;
    flex-direction: column;

    width: 50%;
    position: relative;
    left: 50%;
}

.main .box-objetivo-texto h2 {
    margin-bottom: 1.5rem;
}

.main .container-produto {
    font-family: 'Inter', sans-serif;
}

.main .box-section-header div {
    max-width: 1140px;
    margin: auto;
    text-align: center;
}

.main .box-section-header div h2 {
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.main .box-section-header div p {
    font-size: 1rem;
    font-weight: 400;
}

.main .container-produto .box-produto-conteudos {
    display: flex;
    flex-direction: column;

    max-width: 1140px;
    margin: 2rem auto;
    
    position: relative;
}

.figura-quadrado {
    width: 1.25rem;
    height: 1.25rem;
    background-color: black;
    border: 10px solid black;
    rotate: 45deg;

    position: absolute;
    top: -2.5rem;
    left: 50%;
    translate: -0.625rem;
}

.linha-vertical {
    width: 1px;
    height: 105%;
    background-color: black;

    position: absolute;
    top: -2rem;
    left: 50%;
}

.quadrado-2 {
    width: 1.25rem;
    height: 1.25rem;
    background-color: black;

    border-style: solid;
    border-width: 10px;
    border-color: #000 #F2F2F2 #F2F2F2 #000;
    rotate: 45deg;

    position: absolute;
    left: 50%;
    bottom: -2.625rem;
    translate: -0.625rem;
}

.main .container-produto .box-produto-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    align-items: center;
}

.main .container-produto .box-produto-conteudo img {
    max-width: 100%;
}

.main .container-produto .box-informacao h3, .box-suporte h3, .box-produtividade h3 {
    &::before {
        content: "⚫";
        font-size: .625rem;
        position: absolute;
        left: 50%;
        translate: -.375rem;
    }
}

.main .container-produto .box-produtividade {
    text-align: right;
}

.main .container-produto .box-produto_texto-principal {
    min-height: 250px;
    background: rgba(64, 49, 6, 0.86);
    font-family: Inter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .container-produto .box-produto_texto-principal div {
    max-width: 740px;
    margin: auto;
    color: #FFF;
}

.main .container-sobrenos {
    font-family: 'Inter', sans-serif;
}

.main .container-sobrenos .box-cards {
    max-width: 1140px;
    margin: 2rem auto 5.625rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 5.375rem;
    row-gap: 3.25rem;
}

.main .container-sobrenos .card {
    max-width: 542px;
    min-height: 190px;
    padding: 2rem 3.125rem;
    
    background: #140126;
    color: #F2F2F2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.426);
    border-radius: .625rem;

    display: grid;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main .container-sobrenos .card-amarelo {
    background-color: #403106;
}

.main .container-sobrenos .card img {
    max-width: 75px;
    max-height: 75px;

    position: absolute;
    top: -1.875rem;
    left: 80%;
}

.main .container-sobrenos .card span {
    font-size: 1rem;
    font-weight: 600;

    margin-top: 2rem;
}

.main .container-sobrenos .card p {
    font-size: .938rem;
    font-weight: 300;
}

footer {
    background-color: #140126;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;

    display: flex;
    flex-direction: column;
}

footer .box-infos {
    max-width: 1140px;
    max-height: 150px;
    margin: 1.25rem auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15vw;
}

footer .logo-footer img {
    width: auto;
    max-height: 150px;
}

footer .box-infos .redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .box-infos .redes-sociais div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: .25rem;
}

footer .box-infos .redes-sociais h5 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

footer .box-infos .redes-sociais a {
    color: #F2F2F2;
    font-size: .875rem;

    &:hover {
        text-decoration: underline;
    }
}

footer .box-texto {
    color: #F2F2F2; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .box-texto p {
    max-width: 1140px;
    margin: auto;
    padding: .75rem;
    text-align: center;

    font-size: .813rem;
    font-weight: 300;
}

footer .box-texto strong {
    font-weight: 500;
}

footer .box-texto a {
    color: #F2F2F2;

    &:hover {
        text-decoration: underline;
    }
}